@charset "UTF-8";
.str1 {stroke:#141515;stroke-width:7.62}
.str2 {stroke:#676766;stroke-width:7.62}
.str3 {stroke:#141515;stroke-width:40}
.str0 {stroke:#141515;stroke-width:40}
.fil0 {fill:none}
.fil2 {fill:#141515;fill-rule:nonzero}
.fil1 {fill:url(#id0)}
